@media (max-width: 1200px)
  .aside
    display: none
  .article-quote
    display: none  
  .sharing
    display: none
  .gallery
    display: none
  .comments
    display: none
  .submit
    display: none      
  .container
    max-width: 960px 
  .content
    width: 65%
    &-info
      top: 170px
  .selection
    height: 500px  
  .tabs
    width: 35%  
    &__title
      padding-top: 10px
      padding-bottom: 10px
    &-item
      padding-top: 10px 
  .article
    &__title
      font-size: 14px
    &__img
      margin-left: 10px  
  .infobox
    &-wrapper
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
      grid-template-columns: 1fr 1fr 1fr
      grid-gap: 30px
    &__cars
      grid-row: 1 / 3
      grid-column: 1 / 3    
    &__cat
      grid-row: 3 / 5
      grid-column: 1 / 2
    &__art
      grid-row: 3 / 5
      grid-column: 2 / 3
    &__coffee
      grid-row: 5 / 6
      grid-column: 1 / 2
    &__stressful
      grid-row: 6 / 7
      grid-column: 1 / 2
    &__manufacture
      grid-row: 5 / 6
      grid-column: 2 / 3
    &__lemon
      grid-row: 6 / 7
      grid-column: 2 / 3  
    &__columns
      grid-row: 1 / 5
      grid-column: 3 / 4    
    
  .flowering
    &__title
      font-size: 38px
  .subscribe
    &__title
      font-size: 38px   

  .main
    &-bookmark
      display: none
@media (max-width: 1025px )
  .main
    &-info
      &__title
        font-size: 45px 
           
@media (max-width: 1005px)
 
    
  .container
    max-width: 800px  
  .header
    &__logo
      padding-left: 40px
    &-bottom
      &__title
        padding: 0
      &__info
        flex-direction: column
        align-items: flex-end
      &__date
        margin-bottom: 5px 
      &__text
        display: none
  .article
    flex-wrap: wrap 
    padding-bottom: 0    
    &__item
      width: 50% 
      &:not(:nth-last-child(even))   
        &:after                      
          content: ""
          position: absolute
          bottom: 0px
          top: 0px
          right: 0px
          width: 1px
          background-color: $grey95
      
  .divider
    margin-left: 15px
    margin-right: 15px
    height: 55px
  .content
    width: 60%
    &-info
      &__title
        font-size: 30px
        margin-bottom: 60px
  .selection
    height: 500px  
  .tabs
    width: 40%

    &-info
      &__title
        font-size: 30px
        line-height: 40px
  .page
    &-wrapper
      flex-direction: column  
    &-column
      display: none
  .list
    width: 100%    
  .infobox
    &-cars
      &__info
        width: 52%
      &__img
        width: 48%    
  .hot
    &-careers
      &__img
        width: 200px
        height: 304px
        bottom: 0        
        right: 0
      &__info 
        width: 70%
        padding: 35px 30px 20px
  .oval
    bottom: 0
    right: 0  
  .footer
    &-menu
      &__block
        padding-right: 15px   
  .text
    &-container
      max-width: 500px  
  .article 
    &-photo
      &__text
        padding: 15px 10px         
@media (max-width: 992px)
  .main
    &-container
      max-width: 100%
      width: 100%
    &-bookmark
      display: none
  .button
    &:hover      
      background: $blue75
    &-shares
      &:hover
        background: transparent
  .infobox
    &-card
      &:hover
        box-shadow: 0 0 6px 3px transparent
        cursor: pointer  
    &-columns
      &__footer
        &:hover
          background: transparent    
  .hot
    &-item
      &:hover
        box-shadow: 0 0 6px 3px transparent
  .page
    &-column
      &__link
        &:hover
          border-bottom: 1px solid transparent 
          text-decoration: none
  .list
    &-item
      &__title
        &-link
          &:hover
            border-bottom: 1px solid transparent      
            text-decoration: none  
  .page
    &-column
      &__footer
        &-link
        &:hover
          background: $light
  .navbar
    &-menu
      &__link
        &:hover
          border-bottom: 1px solid transparent
          text-decoration: none          
  .article
    &-link
      &:hover
        text-decoration: none
  .content
    &-info
      &__link
        &:hover      
          border-bottom: 1px solid transparent
  .player
    &__icon
      &:hover
        background-color: transparent 
  .tabs
    &-item
      &__text
        &-video
          &:hover
            background-color: transparent  
  .footer
    &-menu
      &__link
        &:hover
          border-bottom: 1px solid transparent
    &-contact
      &__link
        &:hover
          border-bottom: 1px solid transparent    
  .facebook
    &:hover
      background: #4267B2
  .twitter
    &:hover
      background: #1DA1F2
  .instagram
    &:hover
      background: #262626
  .youtube             
    &:hover
      background: #FF0000
  .card
    &-author
      &__facebook
        &:hover
          background: transparent
      &__twitter
        &:hover
          background: transparent
      &__instagram
        &:hover
          background: transparent    
      &__follow
        &:hover
          background: transparent    

@media ( max-width: 920px  )
  .main
    &-info
      &__title
        font-size: 40px 
      &__text
        font-size: 16px   
        margin-bottom: 30px   
@media (max-width: 880px)
  .container
    max-width: 700px  
  body
    padding-top: 135px  
  .header
    &-bottom
      &__text
        display: none
    &-top
      position: fixed
      left: 0
      right: 0
      top: 0
      z-index: 500  
  .navbar
    display: none
    position: fixed
    z-index: 200
    left: 0
    right: 0
    bottom: 0
    top: 135px
    padding-top: 0
    overflow: auto
    &--visible
      display: block
      background-color: $grey95
    &-menu       
      width: 100%
      height: 100%
      flex-direction: column 
      justify-content: space-between
      align-items: center  
      &__item
        margin-bottom: 15px  
  .tabs
    width: 47%
  .content
    width: 53%  
    &-info
      &__title
        margin-bottom: 30px
  .button
    &-block
      flex-direction: column
      align-items: flex-start  
  .player
    &__icon
      margin-left: 0    
      margin-top: 10px
  .recommended
    &__backcolor
      height: 500px  
  .infobox
    &-wrapper
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
      grid-template-columns: 1fr 1fr
      grid-row-gap: 20px
    &__cars
      grid-row: 5 / 7
      grid-column: 1 / 3    
    &__cat
      grid-row: 1 / 3
      grid-column: 1 / 2
    &__art
      grid-row: 3 / 5
      grid-column: 1 / 2
    &__coffee
      grid-row: 7 / 8
      grid-column: 1 / 2
    &__stressful
      grid-row: 8 / 9
      grid-column: 1 / 2
    &__manufacture
      grid-row: 7 / 8
      grid-column: 2 / 3
    &__lemon
      grid-row: 8 / 9
      grid-column: 2 / 3
    &__columns
      grid-row: 1 / 5
      grid-column: 2 / 3 
    &-columns
      &__article
        padding: 45px 15px 25px 18px
      &__author
        margin-top: 25px  
      &__title
        font-size: 22px  
    &-cars
      &__info
        max-width: 50%
      &__img
        max-width: 50%      
  .flowering
    &__title
      font-size: 35px
      line-height: 45px  
  .hot
    &-wrapper
      grid-template-rows: 170px 170px 170px 170px 170px 1fr
      grid-template-columns: 1fr 1fr
      grid-gap: 30px
    &-slider
      grid-row: 1 / 4
      grid-column: 1 / 3
    &-careers
      grid-row: 4 / 6
      grid-column: 1 / 3
      &__img
        width: 248px
        height: 352px
        bottom: 0        
        right: 58px
      &__info 
        width: 50%
        padding: 35px 35px 20px
  .oval
    bottom: 30px
    right: 45px
    &-coffee
      grid-row: 6 / 7
      grid-column: 1 / 2
    &-manufacture
      grid-row: 6 / 7
      grid-column: 2 / 3
  .footer
    &-menu
      flex-wrap: wrap
      padding-bottom: 0
      &__block
        width: 33.3%
        flex: none
        margin-bottom: 30px
    &-contact
      flex-wrap: wrap  
      &__social
        width: 100%
        justify-content: flex-end

  .main 
    &-info
      &__title
        font-size: 30px 
      &__text
        width: 100%
        font-size: 16px  
        margin-bottom: 40px 
  .jump
    &__text
      font-size: 12px   
  .text
    &-container
      max-width: 100%
    &__p
      font-size: 16px    
  .card
    &-author
      position: relative
      top: auto
      right: auto
      float: right 
      margin-left: 15px  
      margin-top: 15px  
  .article
    &-slider
      height: 455px       
      &__button
        width: 45px
        height: 45px     
        border-radius: 50%  
@media (max-width: 768px)
  .container
    max-width: 600px
  .header
    &__subscribe
      display: none
  
  .divider
    height: 45px 
  
  .selection
    height: 430px  
  .tabs
    width: 100% 
    border-radius: 10px
    overflow: hidden
    &-item
      &__triangle
        display: none
      &--active
        background-color: transparent  
  .content
    display: none   
    
  .list
    &-item
      &__link
        min-width: 45%  
      &__category
        font-size: 10px
        line-height: 143% 
      &__title
        font-size: 18px
        line-height: 143%  
      &__text
        font-size: 14px
        line-height: 143%  
  .flowering
    &__title
      font-size: 30px
      line-height: 130% 
  .subscribe
    &__title
      font-size: 30px     
  .footer
    &-contact
      &__menu
        flex: none 
    &-bottom
      font-size: 12px    
@media (max-width: 640px)
  .container
    max-width: 440px 
  .header
    &-bottom   
      justify-content: center   
      &__img
        display: none 
      &__info
        display: none  
    &__logo
      padding-left: 0      
  .article
    &__title
      font-size: 14px
    &__item
      width: 100%  
      &:not(:nth-last-child(odd))   
        &:after                     
          content: ""
          position: absolute
          bottom: 0px
          top: 0px
          right: 0px
          width: 1px
          background-color: $grey95
      &:not(:nth-last-child(1))   
        &:before                     
          content: ""
          position: absolute
          bottom: 0
          left: 25px
          right: 25px
          height: 1px
          background-color: $grey85
        
      
  .divider
    margin-left: 8px
    margin-right: 8px 
  .content
    &-info
      top: 45%
      &__category
        display: none
      &__title
        display: none
    &__button
      margin-bottom: 15px    
  .button
    &-block
      flex-direction: column
      align-items: flex-start
  .player
    &__icon
      margin-left: 0
  .infobox
    &-wrapper
      grid-template-rows: 170px 170px 170px 170px 1fr 1fr 200px 200px
      grid-template-columns: 1fr 1fr
      grid-gap: 25px
      grid-row-gap: 30px
    &-columns
      height: 770px
      &__article
        padding: 35px 0 15px 10px
      &__author
        margin-top: 15px  
      &__title
        font-size: 20px  
    &-cars
      flex-direction: column
      justify-content: space-between
      align-items: flex-start
      height: 600px
      &__info
        max-width: 100%
        width: 100%
        padding-right: 15px
      &__text
        margin-top: 10px  
      &__img
        max-width: 100% 
        width: 100%
        margin-bottom: 10px
    &-cat    
      &__title
        padding: 10px 10px 20px 
    &-art
      align-items: center
      &__info
        justify-content: flex-start  
      &__footer
        flex-direction: column    
        align-items: center
      &__right
        align-items: center
      &__avatar
        margin-bottom: 10px
      &__author
        margin-bottom: 10px 
  .hot
    &-careers
      &__img
        width: 200px
        height: 304px
        bottom: 0        
        right: 0
      &__info 
        width: 70%
        padding: 35px 30px 20px
  .oval
    bottom: 0
    right: 0   
  .subscribe
    &-form
      flex-direction: column
    &__button
      margin-top: 30px
  .list
    &-item
      flex-direction: column 
      &__link
        min-width: 100%
        min-height: 45%
        margin-right: 0     
      &__info
        margin-top: 10px 
  .footer
    padding-bottom: 40px
    &-contact
      &__menu
        flex-wrap: wrap
        flex: 2
      &__item  
        margin-bottom: 8px
      &__social
        margin-top: 20px  
  .main
    &-info
      &__bottom
        flex-direction: column
        justify-content: center
        align-items: flex-start
  .button
    &-shares       
      margin-top: 15px
  .modal
    &__video
      width: 440px
      height: 250px
  .card
    &-author
      float: none 
      margin: auto
  .article
    &-slider
      height: 350px
      &__button
        width: 35px
        height: 35px
    &-photo
      &__bottom
        flex-direction: column 
        align-items: flex-start 
      &__info
        display: flex
        flex-direction: column
        align-items: flex-start
      &__text
        padding: 10px 15px
        border-bottom: 1px solid $grey15
      &__author
        width: 100%
        padding: 5px 15px 12px 15px
        border-left: 1px solid transparent
        display: flex
        justify-content: flex-start
        align-items: center
@media (max-width: 595px)
  
  .recommended
    &__backcolor
      height: 700px
@media (max-width: 480px)  
  .container  
    max-width: 95%
  .header
    &-bottom
      font-size: 12px
      line-height: 14px
  .sign
    &__text
      display: none
   
  .selection
    height: 500px 
  .modal
    &__video
      width: 400px
      height: 220px     
  .flowering
    &__title
      font-size: 28px
      line-height: 35px 
  .subscribe
    &__title
      font-size: 28px    
  .infobox
    &-wrapper
      grid-gap: 20px
      grid-row-gap: 30px 
  .article
    &-slider
      height: 300px
      &__button
        width: 30px
        height: 30px     
@media ( max-width: 450px )
  .infobox
    &-wrapper
      display: flex
      flex-direction: column
    &-art
      &__info
        width: 100%
      &__title
        width: 100%
      &__footer
        width: 100%
        margin-top: 20px
        flex-direction: row  
        justify-content: flex-start
        align-items: center
      &__right
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start 
      &__author
        margin-bottom: 5px  
    &-columns
      height: auto
      min-height: 600px
      &__article
        padding-left: 25px
        padding-right: 25px
      &__category
        padding-left: 45px 
    &-cars
      height: auto     
  .hot
    &-wrapper
      display: flex
      flex-direction: column
    &-careers
      &__info
        width: 72%
      &__category
        margin-bottom: 15px
      &__title
        font-size: 25px
      &__text
        font-size: 12px
    &-slider
      &__title
        font-size: 38px     
  .main
    &-info
      padding-top: 30px
      &__title
        margin-top: 30px
  .jump
    left: 0
    right: auto                    
@media (max-width: 438px)
  .selection
    height: 550px         
  .footer
    &-menu
      &__block
        width: 50%
  .article
    &-slider
      height: 250px
      &__button
        width: 30px
        height: 30px  
      &--prev
        left: 25px
      &--next
        right: 25px            
@media (max-width: 390px)  
 
  .search
    display: flex
    align-items: center
    &__img
      width: 12px
      height: 12px
    &__input
      font-size: 12px

  .article
    flex-wrap: wrap
    height: auto
    &-card
      width: 45%
      padding-bottom: 15px
    &__img
      display: block
  .divider  
    display: none 
  .modal
    &__video
      width: 370px
      height: 220px  
  .hot
    &-careers
      height: 450px
      &__info
        width: 100% 
      &__text
        width: 55% 
    &-slider
      &__title
        font-size: 33px 
  .subscribe
    &__input
      width: 100%      
  .footer
    &-contact
      &__menu
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
      &__item
        margin-bottom: 5px  
      &__social
        justify-content: flex-start
        margin-left: 0  
     
@media ( max-width: 340px )
  .list
    &-item   
      &__title
        margin: 10px 0
        font-size: 16px
      &__counters
        font-size: 10px
  .article
    &__img
      display: none  
          
        



   
     
  
            
