@media (max-width: 1200px)
  .container
    max-width: 960px 
  .content
    width: 75%
  .tabs
    width: 25%   
  .article
    &-card
      overflow: hidden
      text-overflow: ellipsis
    &__title
      font-size: 14px
      line-height: 20px
  .tabs
    &__title
      padding: 15px
    &-item
      padding: 15px   
      &__text
        margin-bottom: 0 
        font-size: 13px
        line-height: 18px
  .infobox
    &-wrapper
      height: 970px
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr
      grid-template-columns: 1fr 1fr 1fr
      grid-gap: 30px
    &__cars
      grid-row: 1 / 3
      grid-column: 1 / 3    
    &__cat
      grid-row: 3 / 5
      grid-column: 1 / 2
    &__art
      grid-row: 3 / 5
      grid-column: 2 / 3
    &__coffee
      grid-row: 5 / 6
      grid-column: 1 / 2
    &__stressful
      grid-row: 5 / 6
      grid-column: 3 / 4
    &__manufacture
      grid-row: 5 / 6
      grid-column: 2 / 3
    &__lemon
      display: none  
    &__columns
      grid-row: 1 / 5
      grid-column: 3 / 4    
    &-cars
      &__img
        width: 48%
      &__info
        width: 50% 
@media (max-width: 1005px)
  .container
    max-width: 800px  
  .header
    &__logo
      padding-left: 40px
    &-bottom
      &__title
        padding: 0
      &__info
        flex-direction: column
        align-items: flex-end
      &__date
        margin-bottom: 5px 
      &__text
        display: none
  .article
    padding: 15px 15px 15px 15px
    height: auto
    &__title
      font-size: 12px
      line-height: 15px
    &__img
      width: 55px
      height: 55px
      margin-left: 10px      
  .divider
    margin-left: 15px
    margin-right: 15px
    height: 55px
  .content
    &-info
      &__title
        font-size: 30px
        line-height: 40px
@media (max-width: 880px)
  .container
    max-width: 700px  
  body
    padding-top: 135px  
  .header
    &-bottom
      &__text
        display: none
    &-top
      position: fixed
      left: 0
      right: 0
      top: 0
      z-index: 100  
  .navbar
    display: none
    position: fixed
    z-index: 200
    left: 0
    right: 0
    bottom: 0
    top: 135px
    padding-top: 0
    overflow: auto
    &--visible
      display: block
      background-color: $grey95
    &-menu       
      width: 100%
      height: 100%
      flex-direction: column 
      justify-content: space-between
      align-items: center  
      &__item
        margin-bottom: 15px  
  .section
    &__text
      display: none   
  .recommended
    &__backcolor
      height: 400px
  .tabs
    &__title
      padding: 8px
    &-item
      padding: 8px   
      &__text
        font-size: 12px
        line-height: 15px 
        &-video
          &:after
            width: 12px
            height: 12px
  .selection
    height: 450px 
  .content
    &-info
      top: 50% 
  .infobox
    &-wrapper
      height: 1400px
      grid-template-rows: 1fr 1fr 1fr 1fr 150px 150px 170px
      grid-template-columns: 1fr 1fr
      grid-gap: 30px
    &__cars
      grid-row: 1 / 3
      grid-column: 1 / 3    
    &__cat
      grid-row: 3 / 5
      grid-column: 1 / 2
    &__art
      grid-row: 3 / 5
      grid-column: 2 / 3
    &__coffee
      grid-row: 7 / 8
      grid-column: 1 / 2
    &__stressful
      display: none
    &__manufacture
      grid-row: 7 / 8
      grid-column: 2 / 3
    &__columns
      grid-row: 5 / 7
      grid-column: 1 / 3 
    &-columns
      grid-template-areas: "title title title title title" "left article1 article2 article3 right" "footer footer footer footer footer"
      grid-template-rows: 60px 1fr 45px
      grid-template-columns: 24px 1fr 1fr 1fr 24px
    &-cars
      &__footer
        justify-content: flex-start
      &__excerpt  
        flex-basis: 100%
    &-columns
      grid-gap: 10px
      &__article
        border-bottom: 1px solid transparent
@media (max-width: 768px)
  .container
    max-width: 600px
  .header
    &__subscribe
      display: none
  .article
    &__img
      display: none
  .divider
    height: 45px 
  .recommended
    &__backcolor
      height: 300px
  .selection
    height: 300px  
  .tabs
    &-item
      padding: 15px
      &__text
        display: none  
    &__title 
      font-size: 12px
      line-height: 15px   
  .content
    &__author
      top: 30px
      left: 20px
    &-info
      top: 35% 
      left: 20px
      &__title
        font-size: 25px
        margin-bottom: 15px
        line-height: 35px    
  .player
    &__text
      font-size: 12px
      line-height: 15px
@media (max-width: 640px)
  .container
    max-width: 440px 
  .header
    &-bottom   
      justify-content: center   
      &__img
        display: none 
      &__info
        display: none  
    &__logo
      padding-left: 0      
  .article
    padding: 10px 10px 10px 10px
    &__title
      font-size: 10px
      line-height: 14px 
  .divider
    margin-left: 8px
    margin-right: 8px 
  .content
    &-info
      top: 45%
      &__category
        display: none
      &__title
        display: none
    &__button
      margin-bottom: 15px    
  .button
    &-block
      flex-direction: column
      align-items: flex-start
  .player
    &__icon
      margin-left: 0
  .infobox
    &-wrapper
      grid-gap: 15px
      height: 1200px
      grid-template-rows: 1fr 1fr 1fr 1fr 150px 150px 150px
    &-cars
      &__title
        font-size: 20px
        line-height: 25px
      &__text
        font-size: 12px
        line-height: 15px  
      &__img
        height: 250px 
    &-cat
      &__title
        padding: 10px 20px 20px
        font-size: 14px
        line-height: 20px
    &-art
      &__title
        width: 98%
        font-size: 14px
        line-height: 20px
      &__counters
        display: none  
    &-columns
      grid-template-areas: "title title title title" "left article1 article2 right" "footer footer footer footer"
      grid-template-rows: 50px 1fr 45px
      grid-template-columns: 20px 1fr 1fr 20px    
      &__article
        padding-top: 25px
        padding-bottom: 15px
        display: flex
        flex-direction: column
        justify-content: space-between
        &-three
          display: none
    &-item     
      padding-top: 20px
      &__title
        font-size: 14px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 15px 
        margin-bottom: 10px
  .modal
    &__video
      width: 440px
      height: 250px
@media (max-width: 480px)  
  .container  
    max-width: 95%
  .header
    &-bottom
      font-size: 12px
      line-height: 14px
  .sign
    &__text
      display: none
  .tabs
    &__title
      display: none  
  .selection
    height: 270px 
  .modal
    &__video
      width: 400px
      height: 220px     
@media (max-width: 430px)
  .infobox
    &-wrapper
      height: 1150px
      grid-template-rows: 1fr 1fr 1fr 1fr 150px 150px 150px
    &-cars
      &__info
        padding-left: 25px
      &__title
        font-size: 18px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 15px  
      &__img
        height: 240px   
      &__footer
        padding-left: 25px      
    &-columns   
      &__article
        padding-top: 20px
        padding-bottom: 10px
        padding-left: 0
    &-item     
      padding-top: 15px
      &__text
        margin-bottom: 0px
      &__date  
        margin-top: 0
        font-size: 10px
        line-height: 12px
@media (max-width: 390px)  
  .recommended
    &__backcolor
      height: 370px
  .article
    flex-wrap: wrap
    height: auto
    &-card
      width: 45%
      padding-bottom: 15px
    &__img
      display: block
  .divider  
    display: none 
  .modal
    &__video
      width: 370px
      height: 220px  



   
     
  
            
